
body{
    margin-left: 0%;
    margin-right: 0%;
}
.head{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0px;
    font-size: 14px;
    background-image: url("whitebg.jpg");

}

header{
    position: fixed;
}

.profile{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 20px;
    position: fixed;
}



.home{
    position: absolute;
    right: 500px;
    top: 15px;
    position: fixed;
}

.name{
    position: absolute;
    top: 15px;
    left: 100px;
    position: fixed;
}
.about{
    position: absolute;
    right: 350px;
    top: 15px;
    position: fixed;
}

.projects{
    position: absolute;
    right: 185px;
    top: 15px;
    position: fixed;

}

.contact{
    position: absolute;
    right: 40px;
    top: 15px;
    position: fixed;
}

.HOME{
    background-image: url("https://img.freepik.com/free-vector/gradient-blue-abstract-technology-background_23-2149213765.jpg");
    background-size: cover;
    background-color:#3b5cdf ;
    margin-top: 70px;
    height: 640px;
    position: relative;
}

.intro{
    color: white;
    font-size: 65px;
    padding-top: 120px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.description{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
}

.ABOUT{
    background-color: #EEEEEE;
    
    

}
.heading{
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    padding-top: 200px;
    
}
h1{
    margin-top: 0px;
    text-align: center;
    padding: top;
    padding-top: 40px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
hr{
    
    border: 4px solid #3b5cdf;
    border-radius: 5px;
    width: 3%;
    margin-bottom: 20px;
}

.brief{
    font-size: 18px;
    color:#434242;
    margin: auto;
    width: 70%;
    text-align: center;
}
h6{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    
}
.history{
    font-size: 16px;
    color:#434242;
    width: 90%;
    

}

.skills{
    font-size: 16px;
    color:#434242;
    width: 90%;
    

}
td{
    width: 50%;
    
}
.knowme{
    padding-left: 100px;
    padding-right: 50px;
}




h4{
    background-color: #d3bfbf;
    width: fit-content;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    padding: 8px;
    border-radius: 4PX;

}
